.guestContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #F0F4F8, #D9E2EC); // Warm, inviting colors
  color: #333;
  text-align: center;
}

.contentBox {
  background: white;
  background: linear-gradient(135deg, #f7f8f0, #ece0d9); 
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #2C3E50;
  margin-bottom: 15px;
}

.description {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}

.select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 20px;
}

.button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  background: #007BFF;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.button:hover {
  background: #0056b3;
}
